<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Regions</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Uganda Adminstrative Regions</h2>
        <h1 class="title">Uganda</h1>
        <p class="description">
          This platform lets you view all adminstrative regions in Uganda.
          <br>
          View all areas from Districts/Cities, counties/Municipalities, subcounties/Towncouncils and villages/cells.
        </p>
        <a href="/view/districts/all" class="index-button">View Districts</a>
      </div>
      <div class="top-image">
        <img src="/images/ug.svg">
      </div>
    </div>
  </body>
</html>