<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Villages</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Villages in uganda</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Villages</h1>
        <a href="/new" class="new-button">+ Add Village</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>Villages</span>
        </div>
        <ul class="table-body">
          <% villages.forEach((village) => { %>
            <li>
              <div class="item-data">
                <span class="id-column"><%= village.id %></span>
                <span class="name-column"><%= village.village %></span>

              </div>
              <div class="item-menu">
                <form action="/delete/<%= village.id %>" method="post">
                  <input type="submit" value="Delete">
                </form>
                <a href="/edit/<%= village.id %>">Edit</a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>